<div class="container center">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h1 class="light-blue-text"><%= @category.name %></h1>

      <h3>Articles:</h3>
      <ul>
        <% @category.articles.each do |article| %>
          <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
