<footer class="page-footer light-green darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">BooksList</h5>
        <p class="grey-text text-lighten-4">Welcome to BooksList! You are in the right place to find the best deals on books. Search by category or just browse the listings as you please!</p>
        <p class="center white-text">(This is a Dev Bootcamp project to re-create a Craigslist-like website.)</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright light-green darken-4">
    <div class="container center">
      Copyright &copy; 2016. Made by <a href="www.kelsonic.io" class="">Kelsonic</a>.
    </div>
  </div>
</footer>
