<nav>
  <div class="nav-wrapper light-green">
    <a href="/" class="brand-logo left">BooksList</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <ul class="right">
      <li><a href="/articles/new">Create Article</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/articles/new">Create Article</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </div>
</nav>
